@page "/"

<PageTitle>Index</PageTitle>

<h1>Hello, Friends!</h1>

<p>Welcome to Project Assignment. </p>
<p class="text-danger">To check answer for Q2.</p>
<p class="text-danger"> First => you need to log in with [user_name : jujuminthant@mail.com][password:Admin$123]</p>
<p class="text-danger">OR</p>
<p class="text-danger">Create new user account.</p>
<div>
    <span> Q.1.1 Database Design</span>
</div>
<div>
    <img src="img/Answer1.png"  class="img-fluid"/>
</div>
<div>
    <span> Q.1.2 Database Design</span>
</div>
<div>
    <img src="img/Answer2.png" class="img-fluid" />
</div>
